<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gift a Ride to your friend!!!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <p>
	 {% for message in get_flashed_messages() %}
		 <p> {{ message }}</p>
	  {% endfor %}
  </p>
  <div align="center">
	  {% block login %}{% endblock %}
  </div>
</body>
</html>
